@import './design.scss';

$chip-height: 50px;

$pinWidth: 16px;
$pinWidthHalfed: $pinWidth / 2;

.chip {
  padding: 5px 10px;
  text-align: center;
  min-width: 100px;
  min-height: $chip-height;
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > * {
    color: white;
    font-weight: bold;
    font-size: 16px;
    flex: 0 0;
    white-space: nowrap;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    line-height: 2em;
  }
}

.chip-on-board {
  display: inline-flex;

  .pin-side {
    display: flex;
    position: absolute;
    justify-content: space-evenly;

    .pin {
      height: $pinWidth;
      width: $pinWidth;

      border-radius: 50%;
      border: 3px solid var(--text-reverse);
      background-color: var(--text);

      box-sizing: border-box;

      cursor: pointer;
    }

    .pin-tool-rename {
      cursor: text;
    }

    .pin-true {
      background-color: $color-true;
    }

    .pin-false {
      background-color: $color-false;
    }

    .pin-error {
      border: 3px solid $color-error;
    }
  }

  .pins-left {
    flex-direction: column;
    left: -$pinWidthHalfed;
    height: 90%;
    width: $pinWidth;
  }

  .pins-right {
    flex-direction: column;
    right: -$pinWidthHalfed;
    height: 90%;
    width: $pinWidth;
  }

  .pins-top {
    flex-direction: row;
    top: -$pinWidthHalfed;
    width: 90%;
    height: $pinWidth;
  }

  .pins-bottom {
    flex-direction: row;
    bottom: -$pinWidthHalfed;
    width: 90%;
    height: $pinWidth;
  }
}

.chip-tool-delete {
  cursor: not-allowed;
}

.chip-tool-move {
  cursor: move;
}

.selected {
  border-color: var(--secondary);
  -webkit-box-shadow: 0 0 5px 3px var(--secondary);
  -moz-box-shadow: 0 0 5px 3px var(--secondary);
  box-shadow: 0 0 5px 3px var(--secondary);
}
