@import "../chip.scss";

.chip-on-toolbox-wrapper {
    height: $chip-height;

    .chip-on-toolbox {
        height: $chip-height;
        position: relative;
        margin-left: 10px;

        cursor: pointer;
    }

    .chip-on-toolbox-fake {
        height: $chip-height;
        top: -$chip-height;

        pointer-events: none;
        touch-action: none;
    }
}
