@font-face {
  font-family: 'DSEG7-Classic';
  src: url('./assets/fonts/dseg/DSEG7Classic-Regular.woff2') format('woff2');
  src: url('./assets/fonts/dseg/DSEG7Classic-Regular.woff') format('woff');
}

$themes: (
  //https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=121212&secondary.color=ff9100
  dark:
    (
      primary: #121212,
      primary-light: #383838,
      primary-dark: #000000,
      secondary: #ff6f00,
      secondary-light: #ffa040,
      secondary-dark: #c43e00,
      text: white,
      text-reverse: black,
      success: #28a745,
      danger: #dc3545,
      warning: #ffc107,
      info: #17a2b8
    ),
  //https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=ececec&secondary.color=FF6F00
  light:
    (
      primary: #ececec,
      primary-light: #ffffff,
      primary-dark: #bababa,
      secondary: #ff6f00,
      secondary-light: #ffa040,
      secondary-dark: #c43e00,
      text: black,
      text-reverse: white,
      success: #28a745,
      danger: #dc3545,
      warning: #ffc107,
      info: #17a2b8
    )
);

@each $name, $map in $themes {
  .theme-#{$name} {
    @each $key, $value in $map {
      --#{$key}: #{$value};
    }
  }
}

.theme-dark,
.theme-light {
  color: var(--text) !important;
}

$height-toolbox: 110px;

$color-true: green;
$color-false: red;
$color-error: red;

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.absolute {
  position: absolute;
}
